<% obj.each do |user| %>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">
      <div class="book-title ">
        <%= link_to user.username, user_path(user),  id: "userTitle" %>
      </div>
    </div>
  </div>
</div>
<% end %>