<% obj.each do |user| %>
<ul class="listing">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="well well-sm ">
        <div class="user-name">
          <div align="center"><%= image_tag user.avatar.url, :class=> "img-circular" %></div>
        </div>  
        <div class="user-name">
          <%= link_to user.username, user_path(user), id:"user-name" %>
        </div>
        <%if user_signed_in? and can? :manage, User%>
          <div align="center"><%= link_to delete_user_path(user.cart.id, user.id), :method => :delete , class: 'btn btn-danger', :title => "Delete User" do %>
          <i class="glyphicon glyphicon-remove"></i><% end %></div>
        <%end%>  
      </div>
    </div>
  </div>
</ul>
<% end %>