@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-custom {
    background-color: black;
    font-weight: bold;
  }
  
  .img-circular{
    width: 150px;
    height: 150px;
    background-size: cover;
    display: block;
    border-radius: cover;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
   }

  #logo {
    float: left;
    font-size: 1.7em;
    color: #F50D0D;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
  }
  
  #logo:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #bookTitle {
    color: red;
  }


  #bookTitle:hover {
    color: white;
  }

  #user-name {
    color: red;
  }
  

  #user-name:hover {
    color: white;
  }

  .info {
    text-align: left;
    font-size: 1.5em;
    color: red;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .square_customize {
    padding-top: 10px;
    padding-bottom: 15px;
    border-width: 0.4em;
    border-color: red
  }
  .center {
    text-align: center;
  }

  .jumbotron {
    background-image: asset-url('homepic.jpg');
    background-size: cover;
    height: 550px;
  }
  
  .jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
  }
  
  .btn-xlarge {
    font-size: 1.7em;
    background-color: black;
  }

  .book-title {
    color: white;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    }
    
  .book-body {
    border-top: 1px solid rgba(14, 12, 12, 0.29);
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
  }

  .user-info {
      border-top: 1px solid rgb(245, 242, 242);
      padding-top: 15px;
      padding-bottom: 15px;
      color: white;
      font-size: 1em;      
  }

  .user-name {
    color: red;
    text-align: center;
    font-size: 2em;   
    font-weight: bold;
    padding-top: 15px; 
    padding-bottom: 15px;    
  }

  .listing {
      list-style: none;
      padding-left: 0;
    }
    
    .badge {
      background-color: #CEF6F5;
      text-transform: uppercase;
      letter-spacing: -1px;
      font-weight: bold;
    }
    
    .input_checkbox input {
      width: auto !important;
    }

    .jumbotron h2{
      color: red;
    }
  footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
  }
  
  footer a:hover {
    color: #222;
  }
  
  footer small {
    float: left;
  }
  
  footer ul {
    float: right;
    list-style: none;
  }
  
  footer ul li {
    float: left;
    margin-left: 15px;
  }