@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-custom {
    background-color: black;
    font-weight: bold;
    font-size: 15px;
    padding: 0px 5px;
  }
  
  .img-circular{
    width: 150px;
    height: 150px;
    background-size: cover;
    display: block;
    border-radius: cover;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
   }

  #logo {
    float: left;
    font-size: 1.7em;
    color: #F50D0D;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
  }
  
  #logo:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #bookTitle {
    color: red;
  }


  #bookTitle:hover {
    color: white;
  }

  #user-name {
    color: red;
  }
  

  #user-name:hover {
    color: white;
  }

  .info {
    text-align: left;
    font-size: 1.5em;
    color: red;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .square_customize {
    padding-top: 10px;
    padding-bottom: 15px;
    border-width: 0.4em;
    border-color: red;
  }

  .square_customize_book {
    padding-top: 10px;
    padding-bottom: 15px;
    border-width: 0.4em;
    border-color: red;
    height: 400px;
  }


  ul#grid {
    padding: 0;
    list-style: none;
    margin: 20px auto 0;
    width: 700px;  
    }
  
  #grid li {
    float: left;
    padding: 0;
    margin: 0 5px 10px 5px;
    } 
  
  #grid li a {
    display: block;
    }
  
  #grid li img {
    background-color: #64666a;
    padding: 7px; margin: 0;
    border: 1px dotted #58595b;
    width: 128
  }

  .center {
    text-align: center;
  }

  .book-info {
    text-align: left;
  }
.set_background {
  background-size: cover;
}
  .jumbotron {
    background-image: asset-url('homepic.jpg');
    background-size: cover;
    height: 550px;
  }
  

  
  .jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
  }
  
  .btn-xlarge {
    font-size: 1.7em;
    background-color: black;
  }

  .book-title {
    color: white;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    }
    
  .book-body {
    border-top: 1px solid rgba(14, 12, 12, 0.29);
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
  }
  .cart-title {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
  }

  .cart-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .user-info {
      border-top: 1px solid rgb(245, 242, 242);
      padding-top: 15px;
      padding-bottom: 15px;
      color: white;
      font-size: 1em;      
  }

  .user-name {
    color: red;
    text-align: center;
    font-size: 2em;   
    font-weight: bold;
    padding-top: 15px; 
    padding-bottom: 15px;    
  }

  .listing {
      list-style: none;
      padding-left: 0;
    }
    
    .badge {
      background-color: #CEF6F5;
      text-transform: uppercase;
      letter-spacing: -1px;
      font-weight: bold;
    }
    
    .input_checkbox input {
      width: auto !important;
    }

    .jumbotron h2{
      color: red;
    }
  footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
  }
  
  footer a:hover {
    color: #222;
  }
  
  footer small {
    float: left;
  }
  
  footer ul {
    float: right;
    list-style: none;
  }
  
  footer ul li {
    float: left;
    margin-left: 15px;
  }
  


  .thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
    height: 800px;
}

.thumbnail > h4 {
    padding: 7px 5px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  align-content: center;
  margin-bottom: 15px;
  margin-right: 15px;
}

.thumbnail h4 .info {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 0.6em;
    padding-left: 15px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 4px;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    cursor:  pointer;
}

.thumbnail h4 .info > span {
    margin-right: 10px;   
}

.thumbnail img {
    width: 100%;
    height: 300px;
}
.thumbnail a.btn {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.table>tbody>tr>td, .table>tfoot>tr>td{
  vertical-align: middle;
}
@media screen and (max-width: 600px) {
  table#cart tbody td .form-control{
  width:20%;
  display: inline !important;
}
.actions .btn{
  width:36%;
  margin:1.5em 0;
}

.actions .btn-info{
  float:left;
}
.actions .btn-danger{
  float:right;
}

table#cart thead { display: none; }
table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
table#cart tbody tr td:first-child { background: #333; color: #fff; }
table#cart tbody td:before {
  content: attr(data-th); font-weight: bold;
  display: inline-block; width: 8rem;
}



table#cart tfoot td{display:block; }
table#cart tfoot td .btn{display:block;}

}
.button {
  color: white;
  display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
  position: relative; /* All 'absolute'ly positioned elements are relative to this one */
  padding: 5px 5px; /* Add some padding so it looks nice */
}

/* Make the badge float in the top right corner of the button */
.button__badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
  padding: 0px 5px;
  font-size: 10px;
  
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;
}
